global
    daemon
    maxconn 10240
    pidfile /home/pi/avege/haproxy.pid

defaults
    mode tcp
    balance roundrobin
    timeout connect 10000ms
    timeout client 50000ms
    timeout server 50000ms
    log 127.0.0.1 local0 err

listen admin_stats
    bind 0.0.0.0:8099
    mode http
    option httplog
    maxconn 10
    stats refresh 30s
    stats uri /stats
{{range $i, $prefix := .Prefixes}}
frontend {{$prefix}}-frontend{{$.Port}}
    bind *:5{{$i}}321
    default_backend {{$prefix}}-backend{{$.Port}}

backend {{$prefix}}-backend{{$.Port}}
    option log-health-checks
    default-server inter 60s fall 3 rise 2
    {{range $j, $host := index $.Hosts $i }}server {{$prefix}}-{{$j}} {{$host}}:{{$.Port}} check
    {{end}}
{{end}}
